<h1>Products </h1>
<li><%= link_to("New product", "/products/new") %></li>

<% @products.each do |product| %>
<ul>
<li>Product: <%= product.name %></li>
<li>Description: <%= product.description %></li>
<li>Price: <%= product.price_in_cents %></li>
<li><%= link_to("Check it", "/products/show") %></li>
</ul>
<%end%>
